[Unit]
Description=Watch the web and get notified on updates

[Service]
Type=oneshot
ExecStart=/usr/lib/systemd/scripts/w3watch-systemd "%u" "%h"
TimeoutStartSec=10min
TimeoutStopSec=5s
